.App {
  text-align: center;
}


/* /* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */


.sidebar {
  /* background-color: $dark-background;
  box-shadow: 0px 4px 8px rgba($dark-background, 0.5); */
  display: flex;

  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 18rem;
  /* padding: spacing 0; */

  opacity: 0.55;


  position: fixed;
  left: 0;
  top: 0;
  width: 2rem;
  height: 100%;
  background-size: cover;




  /* &--centered {
    align-self: center;
  }

  &__separator {
    width: 90%;
    margin: spacing 0;
    border: solid 1px;
    color: darken(white, 5%);
  }

  &__menu {
    flex: 1;
  }

  &__lhl {
    margin-top: 2rem;
  } */
}

.sidebar__userinfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-self: center;
  justify-content: space-around;

  font-family: "Bungee", cursive;
  text-align: left;
  font-weight: 900;
  font-size: 1.1em;
  color: rgb(79, 228, 9);

}

.tripplan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 2rem 0;
  margin-top: 4.5rem;
  margin-left: 3.5rem;
  padding-left: 2rem;
  width: 100%;
}


#main-nav {
	height: 2.8rem;
	width: 100%;

	background: #9eacdbc9;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;

	padding: 1.5em 1.5em;
	width: 100%;
	display: flex;
	align-items: center;
}

.nav--text {
	float: left;
	margin-left: 10px;
	font-size: 1.5em;
	font-family: "Bungee", cursive;
	color: #fff;
}
