@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.cityItemList {
  color: white;
  background-color: transparent;
  width: 500px;
  position: absolute;
  font-size: 20px;
}


.intro-text {
  font-size: 40px;
  font-family: 'Montserrat';
  margin: 0;
}

.action-text {
  font-family: 'Montserrat';
}

a,
a:visited,
a:link {
  text-decoration: none;
  color: #FFF;
}

*:focus {
  outline: none !important;

}
.background-transit {
  transition: background-image 0.1s ease-in;
}
