@import "./mixins.scss";
@import "./variables.scss";

.adven-list {
  &__item {
    @include fade;

    color: #88add2;
    height: 2.2rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      background-color: #bfe1e4;
      cursor: pointer;
      color: $dark-background;
    }

    &--selected {
      background-color: darken($white, 5%);
      color: $dark-background;

      &:hover {
        background-color: darken($white, 5%);
      }
    }

    // &--full {
    //   opacity: $inactive-opacity;
    // }
  }
}
